JWT_PRIVATE=your_private_key
JWT_PUBLIC=your_public_key
JWT_ALGORITHM=EdDSA

DB_NAME=identity_provider
DB_USER=postgres
DB_PASSWORD=your_password

DB_DSN=postgresql+asyncpg://postgres:password@postgres:5432/identity_provider